:root{
  --c1: #293462;
  --c3: #fe5f55;
  --c2: #a64942;
  --c4: #fff1c1;
}

p{
  font-size: 20px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
}

.desc{
  margin-top: -20px;
  font-weight: 100;
  line-height: 1.5em;
}

h1{
  font-size: 54px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
  font-weight: 100;

}

button{
  border: none;
  text-align: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  border-radius: 8px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 20px;
  padding: 4%;
  width: 200px;
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
}

.full{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  float:left;
  margin-left: 10%;
  margin-right: 10%;
}

.bg {
  /* The image used */
  background-image: url("images/half.JPG");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  @media @mq-small-only {
    flex-direction: column;
  }

}
.leftDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  height: 100vh;
  width: 46%;
  float: left;

  @media @mq-small-only {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
.rightDiv{
  width: 50%;
  height: 100vh;
  /* The image used */
  background-image: url("images/half.JPG");
  /* Full height */
  height: 100%;
  float: right;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media @mq-small-only {
    max-width: 0%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}
