:root{
  --c1: #293462;
  --c3: #fe5f55;
  --c2: #a64942;
  --c4: #fff1c1;
}

p{
  font-size: 24px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
}

.desc{
  margin-top: -20px;
  font-weight: 100;
  line-height: 1.5em;
}

h1{
  font-size: 60px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: white;
  font-weight: 100;

}

button{
  border: none;
  text-align: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 1.5%;
  width: 200px;
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
}

.full{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 540px;
  width: auto;
  float:left;
  margin-left: 10%;;
}

.bg {
  /* The image used */
  background-image: url("images/can.JGP");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
