/* Timeline Styles */
.timeline {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%; /* Keeps the dot circular */
    border: 2px solid #fff;
    z-index: 1;
    margin-right: 15px;
    position: relative;
    left: -10px; /* Ensures dot is centered on the line */
}

.timeline-content {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    max-width: 1000px;
}

/* Position the dates to the left of the line */
.timeline-date {
    font-size: 14px;
    color: #6c757d;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    position: relative;
}

/* Line connecting dots */
.timeline-item::before {
    content: '';
    position: absolute;
    left: 118px; /* Position of the line in relation to the dot */
    top: 25px;
    bottom: -64px;
    width: 2px;
    background-color: #007bff;
}

.timeline-item:last-child::before {
    bottom: 0;
}


footer a{
    margin: 0px 8px; /* Adds space between the icon and text */
    font-size: 18px; /* Adjusts the icon size */
}

img.rounded-circle {
    object-fit: cover; /* Ensures the image content fits nicely within the circle */
    width: 200px;      /* Set a fixed width */
    height: 200px;     /* Set a fixed height to maintain a perfect circle */
    margin-bottom: 5%;
}


/* Media query to hide the timeline below 1400px */
@media (max-width: 1400px) {
    .timeline-date, /* Hide dates */
    .timeline-dot,  /* Hide dots */
    .timeline-item::before, /* Hide lines */
    #today-date, /* Hide the "Today's Date" timeline item */
    #today-label { /* Hide only the "Today" label */
        display: none;
    }

    /* Make sure the content takes the full width without the dot */
    .timeline-item {
        display: block; /* Ensure that the cards behave as full-width blocks */
        margin-bottom: 20px; /* Adjust margin for cleaner spacing */
    }
}

/* Hide dates on smaller screens */
@media (max-width: 768px) {
    .timeline-date {
        display: none;
    }

    .timeline-dot {
        left: 0; /* Adjust the dot position for smaller screens */
    }
}
